@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Raleway:400,700');

body {
  font-family: "Montserrat", sans-serif;
  background-image: url("img/circuit.png");
  background-attachment: fixed;
  background-size: cover;
/* =========================================================================
 This pattern is downloaded from www.toptal.com/designers/subtlepatterns/
 If you need more, that's where to get'em.
 ========================================================================
  */
}

#wrapper {
  max-width: 960px;
  margin: 0 auto;
}

nav li {
  display: inline-block;

}

header {

}

h1 {

}

h2 {

}

h3 {

}

#education {
  border: 4px solid blue;
  text-align: left;
  list-style-position: inside;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

#experience {
  border: 4px solid blue;
  text-align: left;
  list-style-position: inside;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

#skills {
  border: 4px solid blue;
  text-align: left;
  list-style-position: inside;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

a {
  color: blue;
}

a:visited {
  color: purple;
}

a:hover {
  color: red;
}

a:active {
  color: green;
}
