@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Raleway:400,700');

#wrapper {
  display: grid;
  grid-gap: 10px;
  max-width: 960px;
  margin: 0 auto;
}

header {
  background-color: #C2C4F0;

}

body {
  font-family: "Montserrat", sans-serif;
  margin: 20px;
}

nav li {
  display: inline-block;
  margin: 10px;
  text-align: center;
}

p {
  text-align: left;
}

footer {
  text-align: center;
  background-color: #C2C4F0;
}

#footnote {
  margin: 20px;

}

h1 {
  font-family: "Raleway", sans-serif;
  text-align: center;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-size: 35px;
  text-align: center;
}

h3 {
  font-family: "Montserrat", sans-serif;
  text-align: left;
}

#resume main{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 50px;
}


/*
#index {
  display: grid;
}

#about {
  display: grid;
}

#clips {
  display: grid;
}
*/
#information {
  text-align: center;
  list-style-position: inside;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

#education {
  grid-column: 2;
  border: 2px solid #C2C4F0;
  text-align: left;
  list-style-position: inside;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

#experience {
  grid-row: 1/ span 2;
  grid-column: 1;
  border: 2px solid #C2C4F0;
  text-align: left;
  list-style-position: inside;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

#skills {
  grid-column: 2;
  border: 2px solid #C2C4F0;
  text-align: left;
  list-style-position: inside;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

#title h1 {
  font-family: "Raleway", sans-serif;
  font-size: 70px;
  text-align: center;
}

#occupation h2 {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  text-align: center;
}

a {
  color: blue;
}

a:visited {
  color: purple;
}

a:hover {
  color: red;
}

a:active {
  color: green;
}
